<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Nombres</label>
          <input type="text" [(ngModel)]="user.nombres" 
            class="form-control" 
            id="nombres" 
            name="nombres" 
            placeholder="Enter your Nombres"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Nombres is required</div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" [(ngModel)]="user.apellidos" 
            class="form-control" 
            id="apellidos" 
            name="apellidos" 
            placeholder="Enter your apellidos"
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">apellidos is required</div>
        </div>
        <div class="form-group">
          <label for="genero">Genero</label>
          <input type="text" [(ngModel)]="user.genero" 
            class="form-control" 
            id="genero" 
            name="genero" 
            placeholder="Enter your genero"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">genero is required</div>
        <div class="form-group">
          <label for="tipoDocumento">tipoDocumento</label>
          <input type="text" [(ngModel)]="user.tipoDocumento" 
            class="form-control" 
            id="tipoDocumento" 
            name="tipoDocumento" 
            placeholder="Enter your tipoDocumento "
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">tipoDocumento is required</div>
        </div>
        <div class="form-group">
          <label for="categoria">categoria</label>
          <input type="text" [(ngModel)]="user.categoria" 
            class="form-control" 
            id="categoria" 
            name="categoria" 
            placeholder="Enter your categoria"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">categoria is required</div>
         

         
         
        <div class="form-group">
          <label>Sede: </label>
          <mat-form-field (click)="getSede()" class="form-control" appearance="fill" >
            <mat-select name="sede" placeholder="Seleccione" [(ngModel)]="sede.sedeNombre" (selectionChange)="onChangeS($event)" required>
              <mat-option *ngIf="!sedeList" #allSelected [value]="sede.sedeNombre">{{ sede.sedeNombre }}</mat-option>
              <mat-option #allSelected   *ngFor="let m of sedeList" [value]="m">{{ m.sedeNombre }}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
   
       



         


     


        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>



          
          
      </form>
    </div>
  </div>