<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
        
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Categoria</th>
            <th scope="col">Genero</th>
            <th scope="col">tipoDocumento</th>

           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.nombres }}</td>
            <td>{{ user.apellidos }}</td>
            <td>{{ user.categoria }}</td>
            <td>{{ user.genero }}</td>
            <td>{{ user.tipoDocumento }}</td>
          
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>